.content{
  display: flex;
  justify-content: center;
}
.field{
  display: flex;
  justify-content: center;
  background-color: #cccccc73;
}
.title{
  color: #e0e5ff;
  font-family: sans-serif;
}
input{
  margin: 15px;
  border-radius: 10px;
  background-color: #95c2b4aa ;
  color:#2f001c;
}
button{
  margin: 15px;
  border-radius: 10px;
}

/* In your CSS file or component styles */
.todo-card {
  margin: 10px;
}

.card {
  background-color: #454f52b1; /* Mild background color */
  border: 1px solid #adf700;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-text {
  color: #07fff6d6;
  margin: 5px 0;
}

.status-label{
  font-weight: bold;
  color:#29d991;
}
.sub{
  font-weight: bold;
  color: #29d991
}

.status-select {
  margin-top: 5px;
 border-radius: 5px;

}
select{
  background-color: lavenderblush;
}

.edit-button,
.delete-button {

  margin-top: 10px;
  background-color: #3f71a6;
  color: #fff;
  border: none;
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}
body{
  background-image: url(/src/assets/images/background.jpg);
}
.main{
  display: inline-flex;
}
.container{
  background-color: #5451516b;
  border-radius: 15px;
}