label{
    color: darkgoldenrod;
    font-size: 20px;
}
.addBook{
    margin: 3% 25%;
    padding: 3%;
    border-radius: 50px;
    background-color: rgba(127, 255, 212, 0.676); 
    color: rgb(228, 3, 101);
    
   
}
.addAuthor{
    margin: 3% 25%;
    padding: 3%;
    border-radius: 50px;
    background-color: rgba(127, 255, 212, 0.676);  
    color: rgb(34, 0, 255);
  
}   
.booklist  {
    margin: 3% 5%;
    padding: 3%;
    border-radius: 50px;
    background-color: rgba(68,58, 65, 0.9); 
    color: rgb(238,202,220,1);
}
.authorlist{
    margin: 3% 5%;
    padding: 3%;
    border-radius: 50px;
    background-color: rgba(68,58, 65, 0.9); 
    color: rgb(238,202,220,1);
}
/* Custom CSS */
.footer {
    position: fixed;
    color: bisque;
    width: 100%;
    bottom: 0;
    background-color: #252d34; /* Optional background color */
    padding: 5px ; /* Optional padding */
  }
  